*{
	margin:0 auto;
	padding:0;
}
#board{
text-align:center;
padding:0;
margin:0;
}

#myCanvas {
border: 3px solid #000;   
text-align:center;
margin:0;
padding:0;
background-color:white;
}

.foot{
	background-color:	#FF69B4;
    text-align: center;
    color:white;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
   
}

.header{
text-align:center;
font-family:Brush Script MT;
font-size:30px;
background-color:#FF69B4;
color:white;
top:0;
bottom:0;
width:100%;
}


